<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<!-- Code added for OTP-less integration -->

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
    </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
            
        <activity
          android:name="com.rnproject.MainActivity"
        android:label="@string/app_name"
          android:launchMode="singleTop"
          android:exported="true">
          // add this to your activity code 
         <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- Code added for OTP-less integration -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="otpless" android:scheme="xyzotpless"  />
        </intent-filter>
      </activity>

    </application>
</manifest>
